section#about.about
        .container
          .section-title
            h2 About
            p
              | A graduate of Chemistry with a Diploma in Computer Science, a back-end developer, with plans to build on the experience gained within and outside my degree in cryptocurrency and fintech. Swift at elevating performance throughout all areas of accountability through the design and implementation of robust improvement strategies. Adopts a confident approach to client liaison and is proven to develop beneficial internal and external relationships
          .row
            //- .col-lg-4(data-aos='fade-right')
              img.img-fluid(src='assets/img/profile-img.jpg' alt='')
            .col-lg-8.pt-4.pt-lg-0.content(data-aos='fade-left')
              h3 Backend Developer &amp; Freelancer.
              p.font-italic
                | Looks forward to work in a very challenging establishment where morals, equity and hard-work are held in high esteem, where opportunities abound to advance potentials and to provide useful and latest professional skills coupled with diverse experiments to the organization while developing my skills.
              .row
                .col-lg-6
                  ul
                    li
                      i.icofont-rounded-right
                      strong Website:
                      |  https://ufiar.com
                    li
                      i.icofont-rounded-right
                      strong Phone:
                      |  +234 813 702 4087
                    li
                      i.icofont-rounded-right
                      strong Location:
                      |  Abuja, Nigeria
                .col-lg-6
                  ul
                    li
                      i.icofont-rounded-right
                      strong Degree:
                      |  Masters in Computer Science
                    li
                      i.icofont-rounded-right
                      strong Email:
                      |  hello@ufiar.com ||  enalsy22@gmail.com
                    li
                      i.icofont-rounded-right
                      strong Freelance:
                      |  Available
              p
                | Available to work with teams of developers in any organization. Ready to collaborate with any developer(s) that needs help with building their server side logic which includes buiding API endpoint for their web project, mobile or desktop application(s).
                | Please reachout if you need extra hands to complete a complex, boring or difficult assignment or project.