section#contact.contact
        .container
          .section-title
            h2 Contact
            p
              | Say hi. Am excited to hear from you. Do you need a personal website like this?, Your website is just a call ready. Got questions!!!, i will be glad to attend to each one of them. Your project deserves professional hands, kindly reachout.
          .row(data-aos='fade-in')
            .col-lg-5.d-flex.align-items-stretch
              .info
                .address
                  i.icofont-google-map
                  h4 Location:
                  p Abuja, Nigeria.
                .email
                  i.icofont-envelope
                  h4 Email:
                  p hello@ufiar.com | enalsy22@gmail.com
                .phone
                  i.icofont-phone
                  h4 Call:
                  p +234 813 702 4087
                .contactEmoji 
                  img(src="assets/img/images.png", alt="")
            .col-lg-7.mt-5.mt-lg-0.d-flex.align-items-stretch
              form.php-email-form(action='forms' method='post' role='form')
                .form-row
                  .form-group.col-md-6
                    label(for='name') Your Name
                    input#name.form-control(type='text' name='name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                    .validate
                  .form-group.col-md-6
                    label(for='name') Your Email
                    input#email.form-control(type='email' name='email' data-rule='email' data-msg='Please enter a valid email')
                    .validate
                .form-group
                  label(for='name') Subject
                  input#subject.form-control(type='text' name='subject' data-rule='minlen:4' data-msg='Please enter at least 8 chars of subject')
                  .validate
                .form-group
                  label(for='name') Message
                  textarea.form-control(name='message' rows='10' data-rule='required' data-msg='Please write something for us')
                  .validate
                .mb-3
                  .loading Loading
                  .error-message
                  .sent-message Your message has been sent. Thank you!
                .text-center
                  button(type='submit') Send Message
