section#facts.facts
        .container
          .section-title
            h2 Work Ratings
            p
              | Well experienced in working with clients and as a team, efficient and proficient in any under taken project. 
          .row.no-gutters
            .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch(data-aos='fade-up')
              .count-box
                i.icofont-simple-smile
                span(data-toggle='counter-up') 292
                p
                  strong Number of Happy Clients
            .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch(data-aos='fade-up' data-aos-delay='100')
              .count-box
                i.icofont-document-folder
                span(data-toggle='counter-up') 312
                p
                  strong Number of completed Projects
            .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch(data-aos='fade-up' data-aos-delay='200')
              .count-box
                i.icofont-live-support
                span(data-toggle='counter-up') 9
                p
                  strong Active Open Source Contributions
            .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch(data-aos='fade-up' data-aos-delay='300')
              .count-box
                i.icofont-users-alt-5
                span(data-toggle='counter-up') 18
                p
                  strong Number of Team collaborations