section#portfolio.portfolio.section-bg
        .container
          .section-title
            h2 Portfolio
            p
              | Here are few of the my clients products and some of the most recent projects i have worked on.
          .row(data-aos='fade-up')
            .col-lg-12.d-flex.justify-content-center
              ul#portfolio-flters
                li.filter-active(data-filter='*') All
                li(data-filter='.filter-app') Web
                li(data-filter='.filter-card') API
                li(data-filter='.filter-web') Contributions
          .row.portfolio-container(data-aos='fade-up' data-aos-delay='100')
            
            // Temaepharm
            .col-lg-4.col-md-6.portfolio-item.filter-web
              .portfolio-wrap
                img.img-fluid(src='assets/img/portfolio/temadepharm_landingPage.png' alt='')
                .portfolio-links
                  a.venobox(href='assets/img/portfolio/temadepharm_landingPage.png' data-gall='portfolioGallery' title='Temadepharm pharmacy')
                    i.bx.bx-plus
                  a(href='/temadepharm' title='More Details')
                    i.bx.bx-link

                    // flowexpresscourier
            
            // FlowexpressCourier
            .col-lg-4.col-md-6.portfolio-item.filter-app
              .portfolio-wrap
                img.img-fluid(src='assets/img/portfolio/portfolio-2.png' alt='flowexpresscourier Landing page')
                .portfolio-links
                  a.venobox(href='assets/img/portfolio/portfolio-2.png' data-gall='portfolioGallery' title='flowexpresscourier')
                    i.bx.bx-plus
                  a(href='/flowexpresscourier' title='More Details')
                    i.bx.bx-link
            
            // Domain Search Engine
            .col-lg-4.col-md-6.portfolio-item.filter-app
              .portfolio-wrap
                img.img-fluid(src='assets/img/portfolio/domain_homePage.png' alt='')
                .portfolio-links
                  a.venobox(href='assets/img/portfolio/domain_homePage.png' data-gall='portfolioGallery' title='Domain Search Engine')
                    i.bx.bx-plus
                  a(href='/searchdomain' title='More Details')
                    i.bx.bx-link
            
            // Work flow Link
            .col-lg-4.col-md-6.portfolio-item.filter-card
              .portfolio-wrap
                img.img-fluid(src='assets/img/portfolio/workflow.png' alt='')
                .portfolio-links
                  a.venobox(href='assets/img/portfolio/workflow.png' data-gall='portfolioGallery' title='Card 2')
                    i.bx.bx-plus
                  a(href='/workflowlink' title='More Details')
                    i.bx.bx-link
            
            // 404 page
            .col-lg-4.col-md-6.portfolio-item.filter-card

            // API ENDPOINT
            .col-lg-4.col-md-6.portfolio-item.filter-card
              .portfolio-wrap
                img.img-fluid(src='assets/img/portfolio/404page_desktop.png' alt='')
                .portfolio-links
                  a.venobox(href='assets/img/portfolio/404page_desktop.png' data-gall='portfolioGallery' title='404Page')
                    i.bx.bx-plus
                  a(href='/404page' title='More Details')
                    i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-web
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-5.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-5.jpg' data-gall='portfolioGallery' title='Web 2')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-app
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-6.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-6.jpg' data-gall='portfolioGallery' title='App 3')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-card
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-7.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-7.jpg' data-gall='portfolioGallery' title='Card 1')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-card
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-8.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-8.jpg' data-gall='portfolioGallery' title='Card 3')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-web
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-9.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-9.jpg' data-gall='portfolioGallery' title='Web 3')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link