section#portfolio.portfolio.section-bg
        .container
          .section-title
            h2 Portfolio
            p
              | Here are few of the my clients products and some of the most recent projects i have worked on.
          .row(data-aos='fade-up')
            .col-lg-12.d-flex.justify-content-center
              ul#portfolio-flters
                li.filter-active(data-filter='*') All
                li(data-filter='.filter-app') Web
                li(data-filter='.filter-card') API
                li(data-filter='.filter-web') Contributions
          .row.portfolio-container(data-aos='fade-up' data-aos-delay='100')
            .col-lg-4.col-md-6.portfolio-item.filter-app
              .portfolio-wrap
                img.img-fluid(src='assets/img/portfolio/portfolio-1.png' alt='')
                .portfolio-links
                  a.venobox(href='assets/img/portfolio/portfolio-1.png' data-gall='portfolioGallery' title='App 1')
                    i.bx.bx-plus
                  a(href='/portfolio' title='More Details')
                    i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-web
              .portfolio-wrap
                img.img-fluid(src='assets/img/portfolio/portfolio-2.png' alt='')
                .portfolio-links
                  a.venobox(href='assets/img/portfolio/portfolio-2.png' data-gall='portfolioGallery' title='Web 3')
                    i.bx.bx-plus
                  a(href='/portfolio' title='More Details')
                    i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-app
              .portfolio-wrap
                img.img-fluid(src='assets/img/portfolio/portfolio-3.png' alt='')
                .portfolio-links
                  a.venobox(href='assets/img/portfolio/portfolio-3.png' data-gall='portfolioGallery' title='App 2')
                    i.bx.bx-plus
                  a(href='/portfolio' title='More Details')
                    i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-card
              .portfolio-wrap
                img.img-fluid(src='assets/img/portfolio/portfolio-4.png' alt='')
                .portfolio-links
                  a.venobox(href='assets/img/portfolio/portfolio-4.png' data-gall='portfolioGallery' title='Card 2')
                    i.bx.bx-plus
                  a(href='/portfolio' title='More Details')
                    i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-web
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-5.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-5.jpg' data-gall='portfolioGallery' title='Web 2')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-app
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-6.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-6.jpg' data-gall='portfolioGallery' title='App 3')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-card
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-7.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-7.jpg' data-gall='portfolioGallery' title='Card 1')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-card
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-8.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-8.jpg' data-gall='portfolioGallery' title='Card 3')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link
            //- .col-lg-4.col-md-6.portfolio-item.filter-web
            //-   .portfolio-wrap
            //-     img.img-fluid(src='assets/img/portfolio/portfolio-9.jpg' alt='')
            //-     .portfolio-links
            //-       a.venobox(href='assets/img/portfolio/portfolio-9.jpg' data-gall='portfolioGallery' title='Web 3')
            //-         i.bx.bx-plus
            //-       a(href='/portfolio' title='More Details')
            //-         i.bx.bx-link