section#resume.resume
        .container
          .section-title
            h2 Resume
            p
              | Here is a description of my journey in the tech community. My education and professional experiences.
          .row
            .col-lg-6(data-aos='fade-up')
              h3.resume-title Sumary
              .resume-item.pb-0
                h4 UDOFIA ABASIODIONG
                p
                  em
                    | Innovative and deadline-driven Backend Developer with 5+ years of experience working on server side logic, building APIs and developing fully responsive web platforms from initial concept to final deployment.
                ul
                  li Abuja, Nigeria
                  li (+234) 813-702-4087
                  li enalsy22@gmail.com
              h3.resume-title Education
              .resume-item
                h4 MASTERS IN COMPUTER SCIENCE
                h5 2020 - 2021
                p
                  em University of Ilorin, Ilorin, Nigeria
                p
                  | Highly skilled with extraordinary ability to conduct research and analysis. Pragramming Database Design, Information Systems, Networking with the ability to quickly learn any new technology.
              .resume-item
                h4 NATIONAL DIPLOMA IN COMPUTER SCIENCE
                h5 2019 - 2020
                p
                  em University of Ilorin, Ilorin, Nigeria
                p
                  | practical skills and core knowledge of technical know-how as well as pragmatic approach to problem-solving
              .resume-item
                h4 BACHELOR OF SCIENCE(CHEMISTRY)
                h5 2014 - 2017
                p
                  em University of Ilorin, Ilorin, Nigeria
                p
                  | Equip with armoury of skills including the ability to analyse problems, to work collaboratively as part of a team, and to develop laboratory, numeracy and communication skills. Both through Practical work and learning through research.
            .col-lg-6(data-aos='fade-up' data-aos-delay='100')
              h3.resume-title Professional Experience
              .resume-item
                h4 FREELANCE BACKEND DEVELOPER
                h5 2017 - Present
                p
                  em Ikeja, Lagos, Nigeria 
                ul
                  li
                    | Lead in the design, development, and implementation of the Server side logic, APIs and the whole development process.
                  li
                    | Delegate tasks to Team members which comprises the UX/UI design team, Front-End Web and Mobile Team, Back-End and DevOps Teams.
                  li
                    | Supervise the assessment of all Team progress in order to ensure quality and accuracy of the development process
                  li
                    | Oversee the efficient use of production project budgets.
                  li
                    | Contributes to Open-Source Repository on Github

              .resume-item
                h4 BACKEND DEVELOPER
                h5 2021 - 2022
                p
                  em Aje-o LTD, Manchester city, England 
                ul
                  li
                    | Lead in the architectural design of the Aje-o APIs.
                  li
                    | Managed the database integration and implemented caching for frequently queried data to optimize speed.
                  li
                    | Managed the cloud infrastructures on AWS.
                  li
                    | Implemented permanent storage of products, users and sessions.
                  li
                    | supervised the backend interns.
                  li
                    | Reviewed the PRs of the backend interns.


              //- .resume-item
              //-   h4 Deputy Chief in Cadet
              //-   h5 2017 - 2018
              //-   p
              //-     em Federal Road Safety Corps 
              //-   ul
              //-     li
              //-       | Public Englightenment and Traffic Controls 
              //-     li
              //-       | Organization of Campaigns to enlighten the community on safe use of road
              //-     li
              //-       | Visit both public and private organizations organize training sections on proper use of the road signs
              //-     li
              //-       | Report any violation to the proper bodies
              //-     li
              //-       | Organize tranining sections for new and existing members of the team
              //-     li
              //-       | Assist the Chief in Cadet or step in acting capacity when he is not around.
                  
              //- .resume-item
              //-   h4 Computer Science Teacher
              //-   h5 2017 - 2018
              //-   p
              //-     em Government Science and Technical College, Jigawa State, Nigeria
              //-   ul
              //-     li
              //-       | Supervise, organize and take students on quiz competitions
              //-     li
              //-       | Prepare the computer lab for practical activities
              //-     li
              //-       | Record and manage activities of students in the hostels
              //-     li
              //-       | Grade student performance in understanding of computer science conceptes
                  
              .resume-item
                h4 Design Supervisor
                h5 2009 - 2010
                p
                  em Barrit Digital Photolab, Akure, Ondo State, Nigeria
                ul
                  li
                    | Supervised all the activities in the lab.
                  li
                    | Established and maintained effective relationship with new and existing customers.
                  li
                    | Monitor and ensure successful project execution and completion
                  //- li
                  //-   | Face to face contact with client’s and prompt solutions of client’s issues
                  //- li trengthened internal operational processes in order to achieve maximum customer satisfaction and retention.
                  //- li Accomplishment and implementation of projects
                  //- li
                  //-   | Increased customer retention using direct and personalized marketing strategies, including post-transaction follow-up, thus causing rise in customer patronage and retention.
              //- .resume-item
              //-   h4 Computer Science Teacher
              //-   h5 2011 - 2013
              //-   p
              //-     em God’s Will Secondary School, Ondo State, Nigeria
              //-   ul
              //-     li
              //-       | Teach and introduce Computer Science to students.
              //-     li Guide and assist students in their entire learning experience.
              //-     li Creating Curriculum and presentation of class information.
              //-     li
              //-       | Introduce student to computer appreciation
              //-     li
              //-       | Tracking attendance, assigning homeworks, grading assignments, and giving feedback.
              //- .resume-item
              //-   h4 computer Operator
              //-   h5 2007 - 2009
              //-   p
              //-     em Grace Business Center, Lagos, Nigeria 
              //-   ul
              //-     li
              //-       | Lead in the design, development, and implementation of the graphic, layout, and production communication materials
              //-     li
              //-       | Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design