section#services.services
        .container
          .section-title
            h2 Services
            p
              | Always keen on supporting digital services to provide customers with added value that fulfills their needs and enusure distinction in the global market
          .row
            .col-lg-4.col-md-6.icon-box(data-aos='fade-up')
              .icon
                i.icofont-computer
              h4.title
                | FULL-CYCLE DEVELOPMENT
              p.description
                | Well experienced with attainding to client request and managing Teams of Designers and Developers to ensusre project completion from planning to full deployment.
            .col-lg-4.col-md-6.icon-box(data-aos='fade-up' data-aos-delay='100')
              .icon
                i.icofont-chart-bar-graph
              h4.title
                | CONSULTING
              p.description
                | Available to assist in shaping your project strategy with your business goals, technical capacity and market reality in mind for your new or existing web or mobile application development
            .col-lg-4.col-md-6.icon-box(data-aos='fade-up' data-aos-delay='200')
              .icon
                i.icofont-earth
              h4.title
                | TEAM COLLABORATION
              p.description
                | Available to work with your team as a Backend Developer, helping out with the server side logic of your project. Ready to help you setup teams of developers if you don't have an existing team.
            .col-lg-4.col-md-6.icon-box(data-aos='fade-up' data-aos-delay='300')
              .icon
                i.icofont-image
              h4.title
                | MENTORSHIP
              p.description
                | Are you new into the world of tech, do you find it difficult to get a mentor, do you have the skill set but not just getting clients or want to start your own freelance service!. There is available both free and paid mentorship