section#testimonials.testimonials.section-bg
        .container
          .section-title
            h2 Testimonials
            p
              | 
          .owl-carousel.testimonials-carousel
            .testimonial-item(data-aos='fade-up')
              p
                i.bx.bxs-quote-alt-left.quote-icon-left
                |                The Odiong and his team are true professionals and most definitely care about their customers' needs. Odiong and his team designed an easy-to-use and still contemporary-looking website that allows me to edit and keep my website maintained. I would recommend their service to anyone who is interested in getting their name out on the web
                i.bx.bxs-quote-alt-right.quote-icon-right
              //- img.testimonial-img(src='assets/img/testimonials/testimonials-1.jpg' alt='')
              h3 Dr Jane Eveshoyan
              h4 Counsellor
            .testimonial-item(data-aos='fade-up' data-aos-delay='100')
              p
                i.bx.bxs-quote-alt-left.quote-icon-left
                |               I must say, i was impressed from start to finish. His team paid close attention to my goals for the site and added their own touch to it. They didn't mind making amendments and made sure i was carried along at each stage.
                | The finished product is a unique site that stands out from the rest. I will certainly recommend Odiong and his team to friends for several reasons including price
                i.bx.bxs-quote-alt-right.quote-icon-right
              //- img.testimonial-img(src='assets/img/testimonials/testimonials-2.jpg' alt='')
              h3 Collins Ayodele
              h4 CEO flowexpresscourier
            .testimonial-item(data-aos='fade-up' data-aos-delay='200')
              p
                i.bx.bxs-quote-alt-left.quote-icon-left
                |               My experience with the Odiong and his team was amazing. The team exceeded my expectations by constantly finding ways to suit our preferences in our website design. I found the team very hardworking, working late in several nights for us to meet our deadline. The after-launch support has also been very good so far. I think the team is fantastic at delivering great value to clients
                i.bx.bxs-quote-alt-right.quote-icon-right
              //- img.testimonial-img(src='assets/img/testimonials/testimonials-3.jpg' alt='')
              h3 Carson Odufua
              h4 CEO Carson TV
            .testimonial-item(data-aos='fade-up' data-aos-delay='300')
              p
                i.bx.bxs-quote-alt-left.quote-icon-left
                |               He provided a superb service in designing and building our website in line with specification, in a timely and professional way. We would thoroughly recommend Him to anybody looking for a reliable and efficient digital partner. Highly recommend
                i.bx.bxs-quote-alt-right.quote-icon-right
              //- img.testimonial-img(src='assets/img/testimonials/testimonials-4.jpg' alt='')
              h3 Michale Uduak
              h4 Freelancer