header#header
      .d-flex.flex-column
        .profile
          img.img-fluid.rounded-circle(src='assets/img/profile-img.jpg' alt='')
          h1.text-light.text-center
            a(href='/') UDOFIA ABASIODIONG
          .social-links.mt-3.text-center
            a.twitter(href='#')
              i.bx.bxl-twitter
            a.facebook(href='#')
              i.bx.bxl-facebook
            a.instagram(href='#')
              i.bx.bxl-instagram
            a.google-plus(href='#')
              i.bx.bxl-skype
            a.linkedin(href='#')
              i.bx.bxl-linkedin
        nav.nav-menu
          ul
            li.active
              a(href="#")
                i.bx.bx-home
                span Home
            li
              a(href='#about')
                i.bx.bx-user
                span About
            li
              a(href='#resume')
                i.bx.bx-file-blank
                span Resume
            li
              a(href='#portfolio')
                i.bx.bx-book-content
                |  Portfolio
            li
              a(href='#services')
                i.bx.bx-server
                |  Services
            li
              a(href='#contact')
                i.bx.bx-envelope
                |  Contact
        // .nav-menu
        button.mobile-nav-toggle.d-xl-none(type='button')
          i.icofont-navigation-menu