header#header
    .d-flex.flex-column
      .profile
        img.img-fluid.rounded-circle(src='assets/img/profile-img.jpg' alt='')
        h1.text-light
          a(href='/') UDOFIA ABASIODIONG
        .social-links.mt-3.text-center
          a.linkedin(href='https://github.com/udofia2' target="blank")
            i.bx.bxs-cloud-download
          a.linkedin(href='https://github.com/udofia2' target="blank")
            i.bx.bxl-github
          a.linkedin(href='https://linkedin.com/in/udofia' target="blank")
            i.bx.bxl-linkedin
          a.twitter(href='https://www.twitter.com/Enalsy2' target="blank")
            i.bx.bxl-twitter
          a.instagram(href='https://www.instagram.com/abasiodiongudofia' target="blank")
            i.bx.bxl-instagram
      nav.nav-menu
        ul
          li.active
            a(href='/')
              i.bx.bx-home
              span Home
          li
            a(href='/#about')
              i.bx.bx-user
              span About
          li
            a(href='/#resume')
              i.bx.bx-file-blank
              span Resume
          li
            a(href='/#portfolio')
              i.bx.bx-book-content
              |  Portfolio
          li
            a(href='/#services')
              i.bx.bx-server
              |  Services
          li
            a(href='/#contact')
              i.bx.bx-envelope
              |  Contact
      // .nav-menu
      button.mobile-nav-toggle.d-xl-none(type='button')
        i.icofont-navigation-menu