doctype html
html
  include ../includes/header
    title Portfolio Details
  
  body
    // ======= Header =======
    include ../includes/menu
    // End Header
    main#main
      // ======= Breadcrumbs =======
      section#breadcrumbs.breadcrumbs
        .container
          .d-flex.justify-content-between.align-items-center
            h2 Portfoio Details
            ol
              li
                a(href='/') Home
              li Portfoio Details
      // End Breadcrumbs
      // ======= Portfolio Details Section =======
      section#portfolio-details.portfolio-details
        .container
          .portfolio-details-container
            .owl-carousel.portfolio-details-carousel
              img.img-fluid(src='assets/img/portfolioDetails/flowExpressCourier/portfolio-details-1.png' alt='Landing Page')
              img.img-fluid(src='assets/img/portfolioDetails/flowExpressCourier/portfolio-details-2.png' alt='Tracking Page')
              img.img-fluid(src='assets/img/portfolioDetails/flowExpressCourier/portfolio-details-3.png' alt='Landing Page')
            .portfolio-info
              h3 Project information
              ul
                li
                  strong Category
                  | : Web design
                li
                  strong Client
                  | : Courier Express Company
                li
                  strong Project date
                  | : March, 2019
                li
                  strong Project URL
                  | : 
                  a(target="_blank" href='https://www.flowexpresscourier.com') flowexpresscourier.com
          .portfolio-description
            h2 Flowexpresscourier Company
            p
              | Flowexpresscourier company is specialized in local and international delivery of products. The company is very competent and experienced in safe delivery of client packages at any specified location with the specified duration. The staff works round the clock to meet with customers request and needs.
      // End Portfolio Details Section
    // End #main
    // ======= Footer =======
    include ../includes/footer
    a.back-to-top(href='#')
      i.icofont-simple-up
    // Vendor JS Files
    include ../includes/sideMenu
