section#portfolio-details.portfolio-details
  .container
    .portfolio-details-container
      .owl-carousel.portfolio-details-carousel
        img.img-fluid(src='assets/img/portfolioDetails/showDomain/HomePage.png' alt='')
        img.img-fluid(src='assets/img/portfolioDetails/showDomain/landingPage.png' alt='')
        img.img-fluid(src='assets/img/portfolioDetails/showDomain/result.png' alt='')
        img.img-fluid(src='assets/img/portfolioDetails/showDomain/search_result.png' alt='')
      .portfolio-info
        h3 Project information
        ul
          li
            strong Category
            | : Web design
          li
            strong Client
            | : Domain Search Engine
          li
            strong Project date
            | : March
          li
            strong Project URL
            | : 
            a(target="_blank" href='showdomains.herokuapp.com/api/domain') domainsearch.com
    .portfolio-description
      h2 Domain Search Engine
      p
        | A Domain search Engine that is responsive on all devices. This project helps users search for registered and none-registered domains using the search bar. For a registered domain, the user will be provided with available domains options to choose from. The list is not an exhaustive list.