section#portfolio-details.portfolio-details
        .container
          .portfolio-details-container
            .owl-carousel.portfolio-details-carousel
              img.img-fluid(src='assets/img/portfolioDetails/workflow/workflow.png' alt='')
              img.img-fluid(src='assets/img/portfolioDetails/workflow/portfolio-4.png' alt='')
            .portfolio-info
              h3 Project information
              ul
                li
                  strong Category
                  | : Web design
                li
                  strong Client
                  | : Software Development Company
                li
                  strong Project date
                  | : March, 2019
                li
                  strong Project URL
                  | : 
                  a(target="_blank" href='https://www.workflowlink.com') https://www.workflowlink.com
          .portfolio-description
            h2 Workflowlink Company
            p
              | Workflowlink is an african company with headquater at Abuja, Nigeria. The company links tech talents with opportunit world wide.